<div class="main">
<div class="myprofiel">
  <h1><%= @user.name %></h1>
  <h2><%= @user.email %></h2>
</div>

<ul class="mymenu">
  <%= link_to "投稿", articleup_path %>
</ul>

<table class="table table-hover boards__table">
  <thead class="thead-dark">
  <tr>
    <th>ID</th>
    <th>トピック</th>
    <th>タイトル</th>
    <th>学習時間</th>
    <th>学習内容</th>
  </tr>
  </thead>
  <tbody>
  <% @article.each do |ati| %>
  <tr>
    <th><%= ati.id %></th>
    <td><%= ati.topic %></td>
    <td><%= ati.title %></td>
    <td><%= ati.study_time %></td>
    <td><%= ati.content %></td>
  </tr>
    <% end %>
  </tbody>
</table>

  <div id="calendar"></div>

</div>

