<div class="main">
<div class="myprofiel_main">
  <% if @user.image? %>
    <%= image_tag @user.image.url %>
    <% else %>
    <%= image_tag("icon/no-image.png") %>
    <% end %>
  <h1>
    <%= @user.name %>
  </h1>
</div>

  <% if @articles.empty? %>
    <div class="article_pie">
    <a href="http://localhost:3000/articleup">
      <h1>
      <%= image_tag("pie.png")%>
      記事を投稿しよう
      </h1>
    </a>
    </div>
    <% else %>
  <div class="my_pie">
  <canvas id="myChart" width="200" height="100"></canvas>
  <script>draw_graph();</script>
  </div>

    <ul class="mymenu">
      <%= link_to "投稿", articleup_path %>
    </ul>
    <% end %>




<table class="table table-hover boards__table">
  <thead class="thead-dark">
  <tr>
    <th>トピック</th>
    <th>タイトル</th>
    <th>学習時間(分)</th>
    <th>学習内容</th>
    <th>投稿日</th>
    <th><i class="fas fa-edit"></i></th>
    <th><i class="fas fa-trash-alt"></i></th>
  </tr>
  </thead>
  <tbody>
  <% @articles.each do |ati1| %>
  <tr>
    <td><%= ati1.topic %></td>
    <td><%= ati1.title %></td>
    <td><%= ati1.study_time %></td>
    <td><%= link_to "詳細", "#" %></td>
    <td><%= ati1.created_at.strftime('%Y年%m月%d日 %H時%M分') %></td>
    <td><%= link_to "編集", "#" %></td>
    <td><%= link_to "削除", "#" %></td>
  </tr>
    <% end %>
  </tbody>
</table>

  <%= month_calendar events: @articles do |date, articles| %>
    <%= date.day %>
    <% articles.each do |article| %>
    <div>
      <%= link_to article.title, "#" %>
    </div>
    <% end %>

  <% end %>


</div>

